.App {
    --success-color: greenyellow;
    text-align: center;
}

.success {
    color: var(--success-color)
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.flex-1 {
    flex: 1;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.page-container {
    width: 100%;
    padding: 10px 0;
    background: #334375;
    color: white;
}

h1 {
    font-size: 19px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 22px;
}

.btn-primary {
    background: #334375;
    border-color: #334375;
}

.btn-danger {
    background: #d95273;
    border-color: #d95273;
}

.btn-success {
    background: #669666;
    border-color: #669666;
}

.btn.btn-warning {
    background: #B9AC3BFF;
    border-color: #B9AC3BFF;
    color: white;
}

.btn.btn-warning:hover {
    background: #a28e2e;
}

.btn.btn-warning[data-disabled="true"] {
    background: #878788;
    border-color: #878788;
    cursor: default;
}


.btn-light {
    background: #EEE;
}

.btn-light:hover {
    border: 1px solid #AAA;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
