body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #195889;
  --secondary-color: #d2485b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.popin-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.popin-container:after {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .8);
  content: "";
  z-index: 25;
}

.popin-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 300px;
  background: white;
  border: 1px solid #EEE;
  z-index: 50;
  animation: popinShow .3s;
}

.popin-close {
  position: absolute;
  right: 40px;
  top: 20px;
  font-size: 28px;
  cursor: pointer;
  transition: .2s;
}

.popin-close:hover {
  color: var(--secondary-color);
}


@keyframes popinShow {
  0% {
    transform: translateX(-100vw);
  }

  100% {
    transform: translateX(0);
  }
}
